<div class="layout-body-content">
    <div class="page-heading">
<br><br>
        Hello Crusaders! Welcome to the web portion of the crusade. Here you will find clues to take you around the site, search for items and maybe even learn a bit about Our Cannon. Given that you have found this message you already know to think outside the box. Best of luck to you on your webquest, and here is your first clue:  
        <br>
        <br>
        “Look into the nth album, where n is the amount of photos including a cannon in the history book”
    </div>
</div>
