<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
    <link rel="stylesheet" href="./Styles/SiteCommon.css"/>
    <link href="https://fonts.googleapis.com/css?family=Merienda+One" rel="stylesheet">
    <link rel="icon" type="image/png" href="./Images/Icon.png"/>
  </head>
  <body>
    <a class="header" href="../">
        <div class="slogan-image" id="cannon-logo"></div>
        <div class="slogan-text">
            <h1 class="large-slogan-text"> Ye Olde Mighty Skule Cannon</h1>
            <h3 class="small-slogan-subtext"> HONOR. RESPECT. PROTECT. </h3>
        </div>
    </a>
    <div class="navbar">
        <div class="buffer">
        <a class="navbar-item link" href="../">Home</a>
	    <a class="navbar-item link" href="./history">History</a>       
	    <a class="navbar-item link" href="./faq">
	        FAQ
	    </a>       
	    <a class="navbar-item link" href="./photos">
	        Photos
	    </a>       
	    <a class="navbar-item link" href="./feedback">
	        Feedback
	    </a>            
        </div>
    </div>
    <div class="layout-body-content">
        {{{body}}}
    </div>
  </body>
</html>
