<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
    <link rel="stylesheet" href="./Styles/SiteCommon.css"/>
  </head>
  <body>
    <a class="header" style="text-decoration: none" href="/">
        <div class="slogan-image" id="cannon-logo"></div>
        <div class="slogan-text">
            <h1 class="large-slogan-text"> Ye Mighty Olde Skule Cannon</h1>
            <h3 class="small-slogan-subtext"> HONOR. RESPECT. PROTECT. </h3>
        </div>
    </a>
    <div class="navbar">
        <div class="buffer">
	    <div class="navbar-item link" data-link="./history">History</div>       
	    <div class="navbar-item link" data-link="./faq">
	        FAQ
	    </div>       
	    <div class="navbar-item link" data-link="./publications">
	        Publications
	    </div>       
	    <div class="navbar-item link" data-link="./feedback">
	        Feedback
	    </div>            
        </div>
    </div>
    {{{body}}}
  </body>
</html>
