<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
    <link rel="stylesheet" href="./Styles/SiteCommon.css"/>
    <link rel="stylesheet" href="./Styles/Feedback.css"/>
  </head>
  <body>
    <a style="text-decoration: none" href="/">
        <div class="slogan-bar">
            <div class="slogan-image" id="cannon-logo"></div>
            <div class="slogan-text">HONOR. RESPECT. PROTECT.</div>
        </div>
    </a>
    <div class="navbar">
        <div class="buffer">
	    <div class="navbar-item link" data-link="./feedback">
	        Feedback
	    </div>            
	    <div class="navbar-item link" data-link="./somepageurl">
	        Some Link 2
	    </div>       
	    <div class="navbar-item link" data-link="./somepageurl">
	        Some Link 3
	    </div>       
	    <div class="navbar-item link" data-link="./somepageurl">
	        etc
	    </div>       
        </div>
    </div>
    {{{body}}}
  </body>
</html>
