<link rel="stylesheet" href="./Styles/FAQ.css"/>
<style>
   b { color: #999 }
</style>
<div id="faq-content" class="center-column">
    <h2 class="thicc"> What is Ye Mighty Olde Skule Cannon? </h2>
    <div>
        <figure class="right"><a href="./Images/cannon-black.jpg"><img id="FaqCannonImage" src="./Images/cannon-black.jpg" /></a> </figure>
        <p>The <b>S</b>kule™ Cannon has be<b>e</b>n a part of the Engi<b>n</b>eering community since 1929. It is a powerful tra<b>d</b>ition that is upheld by dedicated members o<b>f</b> the Skule™ community <b>e</b>ach y<b>e</b>ar, with new guar<b>d</b>s being trained, new events <b>b</b>eing run and the same thunderous K<b>A</b>BOOM heard all across <b>c</b>ampus. The current S<b>k</b>ule™ Cannon was built in 2013 and revealed during F!rosh Week 1T3. It appears at numerous engineering events, showing Skule™ Spirit, pride, and true engineering precision and craft. </p>
    </div>
    

    <h2 class="thicc"> What is the Chief Attiliator? </h2>
    <p>When the Mark I Cannon was built in 1936, a Cannoneer was a<b>p</b>pointed by the Engineering Society with the responsibility of firing <b>a</b>nd maintainin<b>g</b> the Cannon, and s<b>e</b>curing it <b>f</b>rom th<b>i</b>eving rivals. Over the years, as the student body evolves, the tradition o<b>f</b> Ye Olde Migh<b>t</b>y Skule™ Cannon has r<b>e</b>main<b>e</b>d true to its roots.</p>
    <p>Today, the role of the Ca<b>n</b>noneer is known as the Chie<b>f</b> A<b>t</b>tiliator.  Along <b>w</b>ith th<b>e</b> aforementioned duties, the Chief Attiliator is responsib<b>l</b>e for training and leading the Cannon Guard, charged with the Cannon’s security at events.  Both the Chief and Guard wear uniforms; the Chief Attiliator is distinguished by a reflecti<b>v</b>e fac<b>e</b> shield attached to their hard-hat, while the Guards are seen in black hardhats and silver sunglasses. Since 1992, it was decided to keep the identity of the current Chief Attiliator anony<b>m</b>ous throughout th<b>e</b> Skule™ year. A<b>s</b> the sole individual with the knowledge of the Cannon’<b>s</b> where<b>a</b>bouts, protectin<b>g</b> the Chief Attiliator’s id<b>e</b>ntity is important in protecting the Cannon from unwanted mascot thefts from neighboring schools and student groups. Moveover, the Cannon represents much more than a single individual - the Cannon represents each and every UofT engineering student.</p>

    <h2 class="thicc"> How can I become a member of the Cannon Guard? </h2>
    <p>Each UofT engineering student is a Cannon Guard. Each student is a guardian of its Spirit, Strength and Uniting Force. Regardless of year, discipline, or black hard-hat, the Cannon belongs to us all.</p>
    <p>For students wishing to join the ranks of their fellow Skuleigans seen protecting the Cannon at various events, they are advised to ask current Cannon Guards, and #EmailTheChief at <a href="mailto:KABOOM@skule.ca">KABOOM@Skule.ca</a>. Chief is always looking for new, dedicated students to carry the tradition of the Cannon onwards in Skule™ history.</p>

    <h2 class="thicc"> Can I suggest an event for the Cannon to attend? </h2>
    <p>Yes. The Cannon is always looking to show Skule™ Spirit at new events. If you have ideas for events, whether they’re new, creative or crazy - send them to Chief. You can do so via the anonymous feedback platform on this site, or by emailing the Chief at <a href="mailto:KABOOM@skule.ca">KABOOM@Skule.ca</a>. </p>

    <h2 class="thicc"> Where can I find out more? </h2>
    <ul>
        <li> <a href="http://skulepedia.ca/wiki/Skule_Cannon">http://skulepedia.ca/wiki/Skule_Cannon</a></li>
        <li> <a href="../history">History </li>
        <li> <a href="mailto:KABOOM@skule.ca">Email the Chief </a></li>
    </ul>
</div>
