<link rel="stylesheet" href="./Styles/FAQ.css"/>
<div id="faq-content" class="center-column">
    <h2> What is Ye Mighty Olde Skule Cannon? </h2>
    <div>
        <figure class="right"><a href="./Images/cannon-black.jpg"><img src="./Images/cannon-black.jpg" /></a> </figure>
        <p>The Skule™ Cannon has been a part of the Engineering community since 1929. It is a powerful tradition that is upheld by dedicated members of the Skule™ community each year, with new guards being trained, new events being run and the same thunderous KABOOM heard all across campus. The current Skule™ Cannon was built in 2013 and revealed during F!rosh Week 1T3. It appears at numerous engineering events, showing Skule™ Spirit, pride, and true engineering precision and craft. </p>
    </div>
    

    <h2> Who is the Chief Attiliator? </h2>
    <p>When the Mark I Cannon was built in 1936, a Cannoneer was appointed by the Engineering Society with the responsibility of firing and maintaining the Cannon, and securing it from thieving rivals. Over the years, as the student body evolves, the tradition of Ye Olde Mighty Skule™ Cannon has remained true to its roots.</p>
    <p>Today, the role of the Cannoneer is known as the Chief Attiliator.  Along with the aforementioned duties, the Chief Attiliator is responsible for training and leading the Cannon Guard, charged with the Cannon’s security at events.  Both the Chief and Guard wear uniforms; the Chief Attiliator is distinguished by a reflective face shield attached to their hard-hat, while the Guards are seen in black hardhats and silver sunglasses. Since 1992, it was decided to keep the identity of the current Chief Attiliator anonymous throughout the Skule™ year. As the sole individual with the knowledge of the Cannon’s whereabouts, protecting the Chief Attiliator’s identity is important in protecting the Cannon from unwanted mascot thefts from neighboring schools and student groups. Moveover, the Cannon represents much more than a single individual - the Cannon represents each and every UofT engineering student.</p>

    <h2>How can I become a member of the Cannon Guard? </h2>
    <p>Each UofT engineering student is a Cannon Guard. Each student is a guardian of its Spirit, Strength and Uniting Force. Regardless of year, discipline, or black hard-hat, the Cannon belongs to us all.</p>
    <p>For students wishing to join the ranks of their fellow Skuleigans seen protecting the Cannon at various events, they are advised to ask current Cannon Guards, and #EmailTheChief at <a href="mailto:KABOOM@skule.ca">KABOOM@Skule.ca</a>. Chief is always looking for new, dedicated students to carry the tradition of the Cannon onwards in Skule™ history.</p>

    <h2> Can I suggest an event for the Cannon to attend? </h2>
    <p>Yes. The Cannon is always looking to show Skule™ Spirit at new events. If you have ideas for events, whether they’re new, creative or crazy - send them to Chief. You can do so via the anonymous feedback platform on this site, or by emailing the Chief at <a href="mailto:KABOOM@skule.ca">KABOOM@Skule.ca</a>. </p>

    <h2> Where can I find out more? </h2>
    <ul>
        <li> <a href="http://skulepedia.ca/wiki/Skule_Cannon">http://skulepedia.ca/wiki/Skule_Cannon</a></li>
        <li> This website! </li>
        <li> <a href="mailto:KABOOM@skule.ca">Email the Chief </a></li>
    </ul>
</div>
