<link rel="stylesheet" href="./Styles/Feedback.css"/>
<div id="feedback-buffer">
    <form class="feedback-section" method="post">
        <textarea type="text" name="feedbackText"></textarea>
        <input type="text" name="contact" />
        <input type="submit" />
    </form>
</div>
