<div class="slogan-bar">
    <div class="slogan-image" id="cannon-logo"></div>
    <div class="slogan-text">HONOR. RESPECT. PROTECT.</div>
</div>

<div id="feedback-buffer">
    <div id="feedback-section">
        <div class="thicc">Feedback</div>
        <textarea id="feedback-content" type="text" name="feedback-content"></textarea>
        <div class="clickable link" id="submit-button">Submit</div>
    </div>
</div>