<link rel="stylesheet" href="./Styles/History.css"/>
<h1 style="font-size: 3rem;"class="page-heading"> History </h1>
<div class="center-column">
    <section>
        <h2> Origins of the Cannon </h2>
        <p>Although it was not until 1936 that the School of Practical Science (also called S.P.S. or Skule™) had a Cannon of its own, many cannons were used and honoured previously. In the 1923 Transactions, F.W. Thorold (S.P.S. '00) recalled how he and fellow classmates stole the cannon from in front of the Military Institute.</p>
        <figure class="right">
            <img src="https://athemes.com/wp-content/uploads/Original-JPG-Image.jpg" />
            <figcaption> this is a caption for the lovely image of a lake but we also have to make it very long to make the caption wrap around </figcaption>
        </figure>
        <blockquote>"Meds soon found out about this and after many battles they captured it. That old cannon frequently passed from Meds to Skule and back again, and the last I remember of it was that it had been dropped between two of the Meds buildings. Oh yes, we sure did shoot it off and broke lots of windows, too." </blockquote>
        <p>On November 2, 1905, The Varsity reported that "during Thursday night, five large windows at the School were broken by shots from a small gun or revolver. It will cost $100 in repairs." </p>
    </section>
    <section>
        <h2> Hart House Cannons </h2>
        <figure class="center-large">
            <img src="https://athemes.com/wp-content/uploads/Original-JPG-Image.jpg" />
            <figcaption> this is a caption for the lovely image of a lake but we also have to make it very long </figcaption>
        </figure>
        <p> abc 123 lorem ipsum </p>
        <p> abc 123 lorem ipsum </p>
        <p> abc 123 lorem ipsum </p>
    </section>
    <section>
        <h2>Early Cannons</h2>
        <p> abc 123 lorem ipsum </p>
        <p> abc 123 lorem ipsum </p>
        <p> abc 123 lorem ipsum </p>
    </section>
    <section>
        <h2>Cannon "Mark I"</h2>
        <p> abc 123 lorem ipsum </p>
        <p> abc 123 lorem ipsum </p>
        <p> abc 123 lorem ipsum </p>
    </section>
    <section>
        <h2> Hart House Cannons </h2>
        <p> abc 123 lorem ipsum </p>
        <p> abc 123 lorem ipsum </p>
        <section>
            <h3> Cannon Thefts </h3>
            <p> abc 123 lorem ipsum </p>
        </section>
    </section>
</div>
