<slideshow>
    <div class="slideshow-buffer">
	<div id="left" class="slideshow-button clickable">
	    <div class="slideshow-button-text">&#x25C0;</div>
	</div>
	<div id="photo-slideshow"></div>
	<div id="right" class="slideshow-button clickable">
	    <div class="slideshow-button-text">&#x25B6;</div>
	</div>
    </div>
</slideshow>

<div class="page-heading">
    <!-- <div class="thicc">SMOKE... and THUNDER!!</div> -->
    <div>
    <span class="tabbed">Over</span> 100 years ago, an era donnen upon Skule™. One measured in the craft, dedication and protection of something mighty. A might not in size, but in the sound of its Spirit. Ye Olde Mighty Skule Cannon still holds the honourable position of the mascot of the University of Toronto Engineering community to this very day, protected fearlessly by the Cannon Guard. From its original incarnation which now rests outside Hart House to its resurrection in 2013, the Cannon has been a pillar of Skule™ and proven at countless events across campus and Toronto as our loudest and proudest ambassador.
    <br/><br/>
Just one firing, and it’s clear:
    <br/><br/>
<em>We are, we are, we are, we are, we are the Engineers!</em>
    
    </div>
</div>
    
<script src="./Scripts/Slideshow.js"></script>
