<html>
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="./Styles/Site.css"/>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
        </script>

        <script src="./Scripts/Links.js"></script>
        <script src="./Scripts/Slideshow.js"></script>
    </head>
    <body>

        <div class="slogan-bar">
            <div class="slogan-image" id="cannon-logo"></div>
            <div class="slogan-text">HONOR. RESPECT. PROTECT.</div>
        </div>

        <div class="navbar">
            <div class="buffer">
                <div class="navbar-item link" data-link="./somepageurl">
                    Some Link
                </div>            
                <div class="navbar-item link" data-link="./somepageurl">
                    Some Link 2
                </div>       
                <div class="navbar-item link" data-link="./somepageurl">
                    Some Link 3
                </div>       
                <div class="navbar-item link" data-link="./somepageurl">
                    etc
                </div>       
            </div>
        </div>

        <slideshow>
            <div class="slideshow-buffer">
                <div id="left" class="slideshow-button clickable">
                    <div class="slideshow-button-text">&#x25C0;</div>
                </div>
                <div id="photo-slideshow"></div>
                <div id="right" class="slideshow-button clickable">
                    <div class="slideshow-button-text">&#x25B6;</div>
                </div>
            </div>
        </slideshow>

        <div id="welcome-message">
            <div class="thicc">Welcome Blurb!</div>
            <div>
                Ye Cannon is kule! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque id sagittis elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec ultricies ullamcorper odio faucibus condimentum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris porta urna urna, eu mattis diam ornare vel. Aliquam erat volutpat. Morbi ac fermentum mi, vitae convallis est. Phasellus enim magna, condimentum sed lacinia in, cursus quis lorem. Curabitur vel interdum enim. Aenean gravida, quam vitae euismod finibus, sapien augue congue purus, sit amet varius quam erat ac leo. Etiam leo enim, sagittis id porta ac, sodales ut erat. Pellentesque vel accumsan nisi, ac sollicitudin eros. Nulla efficitur lobortis nulla, ac aliquam urna accumsan vel. Vivamus sit amet tortor sed risus fermentum scelerisque at non eros. Aliquam erat volutpat.
            </div>
        </div>

    </body>

</html>
