<slideshow>
    <div class="slideshow-buffer">
	<div id="left" class="slideshow-button clickable">
	    <div class="slideshow-button-text">&#x25C0;</div>
	</div>
	<div id="photo-slideshow"></div>
	<div id="right" class="slideshow-button clickable">
	    <div class="slideshow-button-text">&#x25B6;</div>
	</div>
    </div>
</slideshow>

<div class="page-heading">
    <div>
    <span class="tabbed">Over</span> 100 years ago, an era donnen upon Skule™. One measured in the craft, dedication and protection of something mighty. A might not in size, but in the sound of its Spirit. Ye Olde Mighty Skule Cannon still holds the honourable position of the mascot of the University of Toronto Engineering community to this very day, protected fearlessly by the Cannon Guard. From its original incarnation which now rests outside Hart House to its resurrection in 2013, the Cannon has been a pillar of Skule™ and proven at countless events across campus and Toronto as our loudest and proudest ambassador.
    <br/><br/>
Just one firing, and it’s clear:
    <br/><br/>
<em>We are, we are, we are, we are, we are the Engineers!</em>
    </div>

    <div>
        <h1>Announcements from Chief Attiliator</h1>
    </div>
    <div class="feed" num="5" uid="1"></div>
</div>
<canvas id="smoke-canvas"></canvas>

<script src="./Scripts/Slideshow.js"></script>
<script src="./Scripts/Feed.js"></script>
<script src="./Scripts/smoke.js"></script>
<script>
	var canvas = document.getElementById('smoke-canvas');
	var ctx = canvas.getContext('2d');
    // todo: position: absolute?
	canvas.width = innerWidth;
	canvas.height = innerHeight;

	var party = smokemachine(ctx, [240, 240, 240]);
	for (var i = 0; i < innerWidth/50; i++) {
		party.addsmoke(Math.random() * innerWidth, (Math.random() / 5 + 0.8) * innerHeight, 1);
	}
	party.start(); // start animating

	setInterval(function(){
        // positioned randomly in the x direction and between 70-120% of the way down the page
		party.addsmoke(Math.random() * innerWidth, (Math.random() / 2 + 0.7) * innerHeight, 2);
	}, 100);
</script>
