<link rel="stylesheet" href="./Styles/Publications.css"/>
<div id="PublicationContent">
    <a href="">
        <img src="./Images/cannon-black.jpg"/>
    </a>
    <a href="">
        <img src="./Images/cannon-black.jpg"/>
    </a>
    <a href="">
        <img src="./Images/cannon-black.jpg"/>
    </a>
    <a href="">
        <img src="./Images/cannon-black.jpg"/>
    </a>
</div>