<link rel="stylesheet" href="./Styles/Publications.css"/>
<div id="PublicationContent">
    <a href="http://www.photos.skule.ca/1T7-1T8/PreFrosh/Kings-CollegeCannon-Firing/i-q2DTvHW">
        <div class="publication-img" style="background-image: url('https://photos.smugmug.com/1T7-1T8/PreFrosh/Kings-CollegeCannon-Firing/i-q2DTvHW/0/c953f221/1880x1260/IMG_2076-1880x1260.jpg')"></div>
    </a>
    <a href="http://www.photos.skule.ca/1T7-1T8/1T7-Pride-Parade/i-vQjzPCv">
        <div class="publication-img" style="background-image: url('https://photos.smugmug.com/1T7-1T8/1T7-Pride-Parade/i-vQjzPCv/0/bb0d82d4/1880x1260/DSC09803-1880x1260.jpg')"></div>
    </a>
    <a href="http://www.photos.skule.ca/1T61T7/Godiva-Week/Charity-Auction/i-tcZTTmh">
        <div class="publication-img" style="background-image: url('https://photos.smugmug.com/1T61T7/Godiva-Week/Charity-Auction/i-tcZTTmh/0/55579b8e/1880x1260/DSC_0206-1880x1260.jpg')"></div>
    </a>
    <a href="http://www.photos.skule.ca/1T61T7/Godiva-Week/Cannonball/i-S5Sf4Pw">
        <div class="publication-img" style="background-image: url('https://photos.smugmug.com/1T61T7/Godiva-Week/Cannonball/i-S5Sf4Pw/0/f12feb34/1880x1260/Cannon%20ball%20%28174%20of%20178%29-1880x1260.jpg')"></div>
    </a>
    <a href="https://www.flickr.com/photos/126705499@N07/sets/72157683817241926/">
        <div class="publication-img" style="background-image: url('https://c1.staticflickr.com/5/4193/33897931713_ad50f5cca6_k.jpg')"></div>
    </a>
    <a href="http://www.photos.skule.ca/1T61T7/Frosh-Week-1T6/Day-1/Matriculation/i-JDSxNRb">
        <div class="publication-img" style="background-image: url('https://photos.smugmug.com/1T61T7/Frosh-Week-1T6/Day-1/Matriculation/i-JDSxNRb/0/62924396/1880x1260/IMG_0803-1880x1260.jpg')"></div>
    </a>

    <a href="http://www.photos.skule.ca/1T51T6/Godiva-Week/Cannonball/i-SVBbSrh">
        <div class="publication-img" style="background-image: url('https://photos.smugmug.com/1T51T6/Godiva-Week/Cannonball/i-SVBbSrh/0/06a3dca4/1880x1260/IMG_9991-17%201-1880x1260.jpg')"></div>
    </a>
    <a href="http://www.photos.skule.ca/1T51T6/PreFrosh-PostOffer-Applicant-E/i-Cwdkmv6">
        <div class="publication-img" style="background-image: url('https://photos.smugmug.com/1T51T6/PreFrosh-PostOffer-Applicant-E/i-Cwdkmv6/0/6449dc4f/1880x1260/IMG_0087-1880x1260.jpg')"></div>
    </a>
    <a href="http://www.photos.skule.ca/1T51T6/Other-Events/Pride-Parade-1T5/i-FwsQWwt">
        <div class="publication-img" style="background-image: url('https://photos.smugmug.com/1T51T6/Other-Events/Pride-Parade-1T5/i-FwsQWwt/0/de79db41/1880x1260/DSC03335-1880x1260.jpg')"></div>
    </a>
    <a href="http://www.photos.skule.ca/1T61T7/Pride-Parade-1T6/i-Vjv7G6g">
        <div class="publication-img" style="background-image: url('https://photos.smugmug.com/1T61T7/Pride-Parade-1T6/i-Vjv7G6g/0/b8a6eb8c/1880x1260/_DSC0852-1880x1260.jpg')"></div>
    </a>
    <a href="http://www.photos.skule.ca/1T61T7/PreFrosh/Cannon-Firing/i-KpwTSPg">
        <div class="publication-img" style="background-image: url('https://photos.smugmug.com/1T61T7/PreFrosh/Cannon-Firing/i-KpwTSPg/0/f91c6a6b/1880x1260/IMG_0413%20edit-1880x1260.jpg')"></div>
    </a>
    <a href="http://www.photos.skule.ca/1T61T7/Dinner-Dances/Gradball-1T7/i-qsFZ2LD">
        <div class="publication-img" style="background-image: url('https://photos.smugmug.com/1T61T7/Dinner-Dances/Gradball-1T7/i-qsFZ2LD/0/45e1af92/1880x1260/twGradBall1T7163-1880x1260.jpg')"></div>
    </a>
</div>
