<link rel="stylesheet" href="./Styles/Publications.css"/>
<div id="PublicationContent">
    <a href="http://www.photos.skule.ca/1T7-1T8/PreFrosh/Kings-CollegeCannon-Firing/i-q2DTvHW">
        <div class="publication-img" style="background-image: url('https://photos.smugmug.com/1T7-1T8/PreFrosh/Kings-CollegeCannon-Firing/i-q2DTvHW/0/c953f221/1880x1260/IMG_2076-1880x1260.jpg')"></div>
    </a>
    <a href="http://www.photos.skule.ca/1T7-1T8/1T7-Pride-Parade/i-vQjzPCv">
        <div class="publication-img" style="background-image: url('https://photos.smugmug.com/1T7-1T8/1T7-Pride-Parade/i-vQjzPCv/0/bb0d82d4/1880x1260/DSC09803-1880x1260.jpg')"></div>
    </a>
    <a href="http://www.photos.skule.ca/1T61T7/Godiva-Week/Charity-Auction/i-tcZTTmh">
        <div class="publication-img" style="background-image: url('https://photos.smugmug.com/1T61T7/Godiva-Week/Charity-Auction/i-tcZTTmh/0/55579b8e/1880x1260/DSC_0206-1880x1260.jpg')"></div>
    </a>
    <a href="http://www.photos.skule.ca/1T61T7/Godiva-Week/Cannonball/i-S5Sf4Pw">
        <div class="publication-img" style="background-image: url('https://photos.smugmug.com/1T61T7/Godiva-Week/Cannonball/i-S5Sf4Pw/0/f12feb34/1880x1260/Cannon%20ball%20%28174%20of%20178%29-1880x1260.jpg')"></div>
    </a>
    <a href="https://www.flickr.com/photos/126705499@N07/sets/72157683817241926/">
        <div class="publication-img" style="background-image: url('https://c1.staticflickr.com/5/4193/33897931713_ad50f5cca6_k.jpg')"></div>
    </a>
</div>
