#faq-content p,
#faq-content ul{
    line-height: 2.0rem;
    font-size: 1.1rem;
    color: #7a7a7a;
}

#faq-content h2 {
    color: #b10d0d;
    font-family; 'Arial', sans-serif;
    font-weight: bold;

}

#faq-content a {
    color: #a10101;
    text-decoration: none;
}

#FaqCannonImage {
    border-radius: 10px;
}
