/* Feedback.css */

#feedback-buffer {
    max-width: 70ch;
    width: 90%;
    margin: 3ch auto;
}

.feedback-section {
    display: flex;
    flex-direction: column;
    align-items: left;
    color: #7a7a7a;
}

.feedback-section > label {
    margin: 20ch auto 0px auto;
    text-align: center;
}

.feedback-section > .fullwidth {
    font-size: 14px;
    position: relative;
    padding: 10px;
    width: 90%;
    margin: 0px auto;
    max-width: 100vw;
    border-radius: 0px;
    transition: background-color 0.2s, box-shadow 0.4s;
    border: 1px solid rgba(0,0,0,0.2) !important;
    box-shadow: 0px  0px 0px 0px rgba(0,0,0,1);
    border-radius: 10px;
}

.feedback-section > .fullwidth:focus {
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.44);
    outline: none;
}

.feedback-section > label {
    margin-top: 0.75ch;
    margin-bottom: 0.2ch;
}

.feedback-section > label em {
    font-size: small;
    opacity: 0.7;
}

textarea {
    min-height: 12rem;
}

#submit-button {
    padding: 15px 20px;
    margin: 2ch auto;
    text-align: center;
    align-self: center;
    background: #b10d0d;
    color: #ccc;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,1);
    transition: box-shadow 0.2s;
    cursor: pointer;
    user-select: none;
}

#submit-button:hover {
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.44);
}


.feedback-section > .fullwidth {
    font-family: monospace;
}

#submit-button:hover {
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.44);
}

.feedback-section > input[type=email].uninitialized {
    color: #888;
}

