#PhotoContent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 20px 5vw;
    justify-content: space-around;
}

#PhotoContent > a {
    display: block;
    flex: 0 0 auto;
}

#PhotoContent > a > .photo-img {
    margin: 10px;
    transition: filter 0.2s;
    filter: blur(2px);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 30vmin;
    height: 30vmin;
    min-height: 300px;
    min-width: 300px;
}

#PhotoContent > a > .photo-img:hover {
    filter: blur(0px);
}

@media (max-width: 725px) {
    #PhotoContent > a > .photo-img {
        width: 70vmin;
        height: 70vmin;
    }
}
