#PublicationContent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 20px 5vw;
    justify-content: space-around;
}

#PublicationContent > a {
    display: block;
    flex: 0 0 auto;
}

#PublicationContent > a > .publication-img {
    margin: 10px;
    transition: filter 0.2s;
    filter: blur(2px);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 30vmin;
    height: 30vmin;
    min-height: 300px;
    min-width: 300px;
}

#PublicationContent > a > .publication-img:hover {
    filter: blur(0px);
}
