@font-face {
    font-family: LucidaBlackletter;
    src: url(Aro.ttf);
}
/* Site.css */

html, body {
    font-family: 'Open Sans', sans-serif;
    padding: 0px;
    margin: 0px;
    height: 100%;
}

/**
 * Slogan section
 */ 
.header {
    display: block;
    position: relative;
    background-color: black;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
}

.parallel {
    columns: 400px 2;
    margin: 10px 30px;
}

.slogan-text {
    height: 100%;
    text-align: center;
    letter-spacing: -0.15rem;
    color: #ccc;
    z-index: 2;
    position: relative;
    padding: 5px;
}

.large-slogan-text {
    margin-top: 1ch;
    word-spacing: 0.1ch;
    font-family: LucidaBlackletter;
    font-weight: lighter;
    font-size: 3.6rem;
}

.small-slogan-subtext {
    margin-top: 0;
    word-spacing: 0.5ch;
    letter-spacing: 0.05ch;
    opacity: 0.9;
    font-family: Georgia;
    font-size: 1.5rem;
}

.slogan-image {
    margin: 0 auto;
    border-radius: 50%;
    opacity: 0.35;
}

#cannon-logo {
    background: url(/Images/cannonlogo.bmp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    position: absolute;
}

body, .layout-body-content {
    background-color: #111;
    position: relative;
    z-index: -1000;
}

/**
 * Navbar
 */
.navbar {
    /*margin-top: 15px;*/
    /*background-color:#333;*/
}

.navbar > .buffer {

    display: inline-flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;

    /*background-color: #000;*/

    color: #b9b9b9;

    border-radius: 1px 1px 10px 10px;

    max-width: 100vw;

}

.navbar-item:last-child {
    border-right: none !important;
    border-radius: 0px 0px 10px 0px;
}

.navbar-item:first-child {
    border-radius: 0px 0px 0px 10px;
}

.navbar-item {
    background-color: #000;
    border-right: 1px solid #3a3a3a;
    flex: 0 0 auto;
    color: inherit;
    text-decoration: none;
    display:block;
    text-align: center;
    padding: 15px 20px;
    max-width: 30rem;

    transition: box-shadow 0.15s, background-color 0.15s;
}

.clickable {
    transition: box-shadow 0.15s;
}

.navbar-item:hover {
    background-color: #393939;
}

.navbar-item:hover, .clickable:hover {
    box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.3);
}


/** 
 * Links
 */
.link, .clickable {
    user-select: none;
    cursor: pointer;
}


/**
 * Photo slideshow
 */
#photo-slideshow {
    max-width: 75vw;
    max-height: 40vh;
}

#photo-slideshow > img {
    max-width: 75vw;
    max-height: 40vh;
}

.slideshow-button {
    background-color: rgba(0,0,0,0);
    /* Vertical center button text */
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #887575;
    font-size:1.5vmax;
    padding: 0px 2px;
}

.slideshow-button#left {
    border-radius: 10px 0px 0px 10px;
}

.slideshow-button#right {
    border-radius: 0px 10px 10px 0px;
}

.slideshow-buffer {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;    
}

slideshow {
    margin: 20px auto;
    display: table;
}
.slideshow-button-text {
    min-width: 15px;
    text-align: center;
}

.hidden {
    display: none;
}

.center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 5ch 0;
}

.center-column > * {
    max-width: 900px;
    width: 90%;
}

.center-column > p,
.center-column > h2,
.center-column > ul {
    margin-top: 0;
}

.tabbed {
    padding-left: 2rem;
}

.page-heading {
    max-width: 900px;
    margin: 5px auto;
    color: #ddd;
    font-size: 1.5rem;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right:10px;
    font-family: 'Merienda One', 'Open Sans', sans-serif;
}

.page-heading > .thicc {
    font-family: Arial;
    font-weight: bold;
    margin-bottom: 10px;
}

figure.right {
    float: right;
    width: 40%;
}

figure.left {
    float: left;
    width: 40%;
}

figure.center-large {
    width: 100%;
    margin: 0;
}

@media(min-width: 1120px){
figure.center-large {
    width: 120%;
    margin: 0 -10%;
}
}

figure img {
    width: 100%;
    max-width: 100vw;
}

figcaption {
    text-align: center;
    font-style: italic;
    color: #777;
    font-size: 0.85rem;
}

/**
 * Welcome blurbs
 */

.thicc {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: -0.10rem;
    color: #d00;
}

#smoke-canvas {
    opacity: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -999;
}
